<!-- <div class="chat-container">
    <div class="messages">
      <div *ngFor="let msg of messages">
        <p><strong>{{ msg.sender }}</strong> to <strong>{{ msg.receiver }}</strong>:</p>
        <p>{{ msg.messageText }}</p>
        <small>{{ msg.timestamp | date: 'short' }}</small>
        <hr />
      </div>
    </div>
  
    <div class="new-message">
      <input
        type="text"
        placeholder="Your Name"
        [(ngModel)]="newMessage.sender"
      />
      <input
        type="text"
        placeholder="Receiver Name"
        [(ngModel)]="newMessage.receiver"
      />
      <textarea
        placeholder="Type your message..."
        [(ngModel)]="newMessage.messageText"
      ></textarea>
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
   -->