<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar>Dashboard</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="isAdmin">
        <a mat-list-item (click)="onTabChange('Tab A')">Tab A</a>
        <a mat-list-item (click)="onTabChange('Tab B')">Tab B</a>
        <a mat-list-item (click)="onTabChange('Tab C')">Tab C</a>
        <a mat-list-item routerLink="/request" routerLinkActive="active">Requests</a>
        <a mat-list-item (click)="onTabChange('Messages')">Messages</a>
      </ng-container>
      <ng-container *ngIf="!isAdmin">
        <a mat-list-item (click)="onTabChange('Tab D')">Tab D</a>
        <a mat-list-item (click)="onTabChange('Tab E')">Tab E</a>
        <a mat-list-item (click)="onTabChange('Tab F')">Tab F</a>
        <a mat-list-item (click)="onTabChange('Messages')">Messages</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>Welcome to the Role-Based Dashboard</mat-toolbar>
    
    <div class="content">
      <div *ngIf="selectedTab === 'Messages'">
        <app-messages></app-messages>
      </div>

      <div *ngIf="selectedTab && selectedTab !== 'Messages'">
        <h2>{{ selectedTab }}</h2>
        <p>This is {{ selectedTab }}.</p>
      </div>

      <p class="timeout-warning" *ngIf="timeoutWarning">{{ timeoutWarning }}</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>